/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Ubuntu-Bold, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Ubuntu-Bold;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Bold;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input::-webkit-input-placeholder {
    color: #bdbdd3;
}

input:-moz-placeholder {
    color: #bdbdd3;
}

input::-moz-placeholder {
    color: #bdbdd3;
}

input:-ms-input-placeholder {
    color: #bdbdd3;
}

textarea::-webkit-input-placeholder {
    color: #bdbdd3;
}

textarea:-moz-placeholder {
    color: #bdbdd3;
}

textarea::-moz-placeholder {
    color: #bdbdd3;
}

textarea:-ms-input-placeholder {
    color: #bdbdd3;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*---------------------------------------------*/
.container {
    max-width: 1200px;
}


/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #f2f2f2;
}

.wrap-contact100 {
    width: 550px;
    background: transparent;
    padding: 50px 0px 160px 0px;
}


/*==================================================================
[ Form ]*/

.contact100-form {
    width: 100%;
}

.contact100-form-title {
    display: block;
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 49px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 31px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}

.input100 {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2;
}


/*---------------------------------------------*/
input.input100 {
    height: 62px;
    padding: 0 35px 0 35px;
}


textarea.input100 {
    min-height: 169px;
    padding: 19px 35px 0 35px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #fff;
    pointer-events: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 {
    width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 62px;
    background-color: transparent;
    border-radius: 31px;

    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.contact100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #827ffe;
    pointer-events: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover:before {
    background-color: #403866;
    width: calc(100% + 20px);
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}


.product__button {
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #4CAF50;
    border-radius: 7px;
    color: white;
    padding: 2px;
    background-color: #4CAF50;


}


.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 1000;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;

    font-family: Ubuntu-Bold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    z-index: 1100;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.products__container {
    display: flex;
}

@media (max-width: 375px) and   (min-width: 350px) {
    .wrap-contact100 {
        width: 100%;
    }

    .products__container {
        align-content: center;
        margin-top: 15px;
        display: block;
        justify-content: center;

    }

    .product__container {
        margin-bottom: 15px;
        align-content: center;
        width: 300px;
        height: auto;
        border: 3px solid #6c757d;
        border-radius: 5px;
        text-align: center;
    }

    .product__image {
        width: 200px;
    }

    .product__button {
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 2px solid #4CAF50;
        border-radius: 7px;
        color: white;
        padding: 2px;
        background-color: #4CAF50;


    }

    .main__container {
        /* margin-left: 220px;

         */
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: block;
        /* justify-content: center; */
        padding: 15px;
        position: relative;
        background-color: #f2f2f2;
    }

    .topnav {
        float: none;
        display: block;
        text-align: left;
        overflow: hidden;
        background-color: #707070;
        width: 100%;
    }

    .topnav a {
        float: none;
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 23px;
    }

    /*
        .header__icons {
            margin-inline-start: 220px;
        }

     */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }


    .topnav input[type=text] {
        margin-top: 8px;
        margin-left: 35px;
        margin-bottom: 14px;
        font-size: 23px;
        width: 280px;
        border: none;
    }

    .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .category__header {
        border: 2px solid gray;
        border-radius: 5px;
        text-align: center;
    }

}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.suggestion__content {
    width: 300px;
}

.suggestion__image {
    width: 200px;
}

@media (min-width: 1200px) {


    .main__wallpaper {
        width: 80%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;


    }




    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .category__moreButton {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


    .category__header {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    .category__title {
        position: relative;
        margin: 0;
        color: #212121;
        font-family: Karla, sans-serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    /*
        .category__header {
            margin-right: 10px;
            border: 2px solid black;
            border-radius: 4px;
        }

     */
    .category__container {
        justify-content: space-evenly;
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .product__container {
        width: 400px;
        height: 300px;
        border: 3px solid #6c757d;
        border-radius: 5px;
        text-align: center;
        align-content: center;
        margin: 32px 10px auto;
    }

    .category__productContainer {
        width: 350px;
        height: 300px;
        border: 3px solid #6c757d;
        border-radius: 5px;
        text-align: center;
        align-content: center;
        margin: 32px auto auto;
    }

    .badge {
        color: black;
    }

    .product__image {
        width: 200px;
    }

    .product__button {
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 2px solid #4CAF50;
        border-radius: 7px;
        color: white;
        padding: 2px;
        background-color: #4CAF50;

    }
    .category__moreButton {
        border: 3px solid #4CAF50;
        border-radius: 5px;
        width: 400px;
        color: white;
        background-color: #4CAF50;
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: calc(2vw + 0vh);
    }

    .remove__button {
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 2px solid #ff2525;
        border-radius: 7px;
        color: white;
        padding: 2px;
        background-color: #ff2525;
    }

    .edit__button {
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 2px solid #1ae2e2;
        border-radius: 7px;
        color: white;
        padding: 2px;
        background-color: #1ae2e2;
    }

    .product__title {
        width: auto;
        font-size: calc(1vw + 0vh);

    }

    .main__container {
        width: 100%;
        min-height: 60vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .category__mainContainer {
        width: 100%;
        min-height: 60vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .topnav {
        z-index: 100;
        width: 100%;
    }

    .topnav a {
        float: left;
        color: #100f0f;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 24px;
    }

    .header__icons {
        margin-left: auto;
        margin-right: auto;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    .topnav .search-container {
        float: right;
    }

    .topnav .cart-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 4px;
        margin-top: 8px;
        font-size: 17px;
        border: 2px solid #ddd;
    }

    .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    div.scrollmenu {
        margin-top: 600px;
        background-color: #f2f2f2;
        overflow: auto;
        white-space: nowrap;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
    }

    .suggestion__content {
        width: 300px;
        display: inline-block;
        text-align: center;
        margin-right: 34px;
        border: 2px solid #6c757d;
    }

    .suggestion__image {
        width: 300px;
        height: 150px;
    }

    .scrollmenu__title {
        text-align: left;
    }

    .products__container {
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
        white-space: nowrap;
    }


}

@media (max-width: 350px) {


    .admin__newButton {
        color: white;
        background-color: #4CAF50;
        border: 2px solid #4CAF50;
        border-radius: 4px;
        padding: 5px;
    }


    .product__image {
        width: 200px;
    }

    .main__container {
        /* margin-left: 220px;

         */
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: block;
        /* justify-content: center; */
        padding: 15px;
        position: relative;
        background-color: #f2f2f2;
    }

    .topnav {
        float: none;
        display: block;
        text-align: left;
        overflow: hidden;
        background-color: #707070;
        width: 100%;
    }

    .topnav a {
        float: none;
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 23px;
    }

    /*
        .header__icons {
            margin-inline-start: 220px;
        }

     */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    .topnav input[type=text] {
        margin-top: 8px;
        margin-left: 35px;
        margin-bottom: 14px;
        font-size: 23px;
        width: 180px;
        border: none;
    }

    .topnav .search-container button {
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .wrap-contact100 {
        width: 100%;
        background: transparent;
    }


    .topnav {
        overflow: hidden;
        background-color: #707070;
        z-index: 100;
        width: 100%;
    }

    .products__container {
        margin-top: 15px;
        display: block;
    }

    .product__container {
        margin-bottom: 15px;
        align-content: center;
        width: 270px;
        height: auto;
        border: 3px solid #6c757d;
        border-radius: 5px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


    .category__header {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .admin__buttonContainer {
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .admin__title {
        margin-top: 25px;
        text-align: center;
    }

}


@media (min-width: 375px) and (max-width: 800px) {

    .admin__title {
        margin-top: 25px;
        text-align: center;
    }

    .wrap-contact100 {
        width: 100%;
    }

    .products__container {
        align-content: center;
        margin-top: 15px;
        display: block;
        justify-content: center;
    }

    .product__container {
        margin-bottom: 15px;
        align-content: center;
        width: 300px;
        height: auto;
        border: 3px solid #6c757d;
        border-radius: 5px;
        text-align: center;
    }

    .product__image {
        width: 200px;
    }

    .product__button {
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 2px solid #4CAF50;
        border-radius: 7px;
        color: white;
        padding: 2px;
        background-color: #4CAF50;


    }

    .main__container {
        /* margin-left: 220px;

         */
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: block;
        /* justify-content: center; */
        padding: 15px;
        position: relative;
        background-color: #f2f2f2;
    }

    .topnav {
        float: none;
        display: block;
        text-align: left;
        overflow: hidden;
        background-color: #707070;
        width: 100%;
    }

    .topnav a {
        float: none;
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 23px;
    }

    /*
        .header__icons {
            margin-inline-start: 220px;
        }

     */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }


    .topnav input[type=text] {
        margin-top: 8px;
        margin-left: 35px;
        margin-bottom: 14px;
        font-size: 23px;
        width: 280px;
        border: none;
    }

    .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .category__header {
        text-align: center;
        border: 2px solid gray;
        border-radius: 5px;
    }
}


.remove__button {
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #ff2525;
    border-radius: 7px;
    color: white;
    padding: 2px;
    background-color: #ff2525;
}

.edit__button {
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #1ae2e2;
    border-radius: 7px;
    color: white;
    padding: 2px;
    background-color: #1ae2e2;
}


