




@media (min-width: 1200px) {
    .product_image {
        position: absolute;
        right: 120px;
        left: 211px;
        top: 158px;
        bottom: -131px;
        width: 698px;
    }
        .product_title {
            font-size: 40px;
        }

    .product_details {
        position: absolute;
         right: 200px;
        top: 120px;
    }
}


@media (max-width: 350px) {
    .product_MainController{
        text-align: center;
        margin-top: 10px;
    }
    .product_image {
        position: center;

        width: 300px;
    }
    .product_title {
        font-size: 40px;
    }

    .product_details {

    }

}



@media (max-width: 700px) {
    .product_MainController{
        text-align: center;
        margin-top: 25px;
    }
    .product_image {
        position: center;

        width: 300px;
    }
    .product_title {
        margin-top: 8px;
        font-size: 40px;
    }

    .product_details {

    }
    .product__button {
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 2px solid #4CAF50;
        border-radius: 7px;
        color: white;
        padding: 16px;
        background-color: #4CAF50;
    }
}
